<a href="https://colab.research.google.com/github/saifmdev/stock_scraper_ta/blob/main/stock_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Simple OHLC Chart with Moving Average Band -Pandas and Plotly

##Run this command if 'ta' library now installed

In [ ]:
pip install ta

In [ ]:
pip install plotly

##Import Libraries

In [ ]:
from ta.trend import ema_indicator as ema
from ta.volume import volume_weighted_average_price as vwap
from ta.momentum import rsi
import plotly.graph_objects as go
import plotly.express as px
import pandas as pd
from datetime import date, datetime
import time

In [ ]:
#Sample list of tickers
tickers = ['AA','MSFT', 'FB', 'TSLA', 'GOOG', 'AMZN']

#create from and to timestamps in epoch
current  = date.today().strftime('%s')
past = int(datetime(2019,12,1,0,0).timestamp())

#loop through tickers and query yahoo finance website to get .csv 
for ticker in tickers:
  link = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={past}&period2={current}&interval=1d&events=history&includeAdjustedClose=true"
  df = pd.read_csv(link)
  df['EMA13'] = ema(df['Close'],13)
  df['EMA21'] = ema(df['Close'],21)
  df['EMA34'] = ema(df['Close'],34)
  df['EMA55'] = ema(df['Close'],55)
  df['EMA89'] = ema(df['Close'],89)
  df['EMA144'] = ema(df['Close'],144)
  df['VWAP'] = vwap(df['High'], df['Low'],df['Close'], df['Volume'],5)
  fig = px.line(df, x="Date", y="EMA13", title=ticker, labels={ticker})
  fig.add_scatter(x=df['Date'], y=df['EMA21'], mode='lines', name="EMA21")
  fig.add_scatter(x=df['Date'], y=df['EMA34'], mode='lines', name="EMA34")
  fig.add_scatter(x=df['Date'], y=df['EMA55'], mode='lines', name="EMA55")
  fig.add_scatter(x=df['Date'], y=df['EMA89'], mode='lines', name="EMA89")
  fig.add_scatter(x=df['Date'], y=df['EMA144'], mode='lines', name="EMA144")
  fig.add_scatter(x=df['Date'], y=df['VWAP'], mode='lines', name="VWAP")
  fig.add_ohlc(open=df['Open'], high=df['High'], low=df['Low'], close=df['Close'], x=df["Date"],name="OHLC")
  fig.update_layout(
    yaxis_title='Price in $USD'
  )

  fig.show()

#YAHOO! Finance Web Scraper + INDICATOR CALCULATIONS

##Run this command if 'ta' library not installed

In [1]:
pip install ta

Collecting ta
  Downloading ta-0.9.0.tar.gz (25 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ta) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from ta) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ta) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->ta) (1.15.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py) ... done
  Created wheel for ta: filename=ta-0.9.0-py3-none-any.whl size=28908 sha256=f14ca527a96b76a0fd5223aac40710eb4e7b46f032847b1da4ec438de3454ec3
  Stored in directory: /root/.cache/pip/wheels/72/78/64/cc1c01506a1010a9845e9bd7c69333730f7174661228ea4f98
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.9.0

##Run this command if 'plotly' library not installed

In [2]:
pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)

##Import Libraries

In [3]:
from datetime import date, datetime
from ta.trend import ema_indicator as ema, sma_indicator as sma, wma_indicator as wma, macd,macd_diff,macd_signal
from ta.volume import volume_weighted_average_price as vwap, on_balance_volume as obv
from ta.momentum import rsi
from ta.volatility import average_true_range as atr
from urllib.error import HTTPError
from pathlib import Path
import plotly.graph_objects as go
import plotly.express as px
import pandas as pd
import numpy as np
from scipy.stats import linregress
import os
import shutil
import time

In [4]:
#Hull Moving Average Calculation using Weighted Moving Average (Fibonacci Band - 13,34,55,89,144)

def hma(s, period):
  return wma(wma(s, period//2).multiply(2).sub(wma(s, period)), int(np.sqrt(period)))

In [ ]:
#Calculate Slope of a given line

def slope_calc(x,y):
  slope, intercept, r_value, p_value, std_err = linregress(x, y)
  return slope

In [ ]:
#Set from and to date in epoch format (int)
current  = date.today().strftime('%s')
past = int(datetime(2019,1,1,0,0).timestamp())

#Get tickers from csv and convert to numpy array
ticker_list = 'https://drive.google.com/uc?export=download&id=1xzFbp9nmKQL0vz2F_BkVzdZercgLfEsq'
tickers_df = pd.read_csv(ticker_list)
tickers = tickers_df['Symbol'].to_numpy()

#Set OPENCLOSEDIFF_AVG Period
open_close_diff_period = 5

#remove existing directory and create new empty one for update
try:
    p = Path('/tickers')
    if p.exists():
      shutil.rmtree('./tickers')
    time.sleep(0.5)
    os.makedirs('tickers', exist_ok=True)  
except OSError as e:
    print("Error: %s - %s." % (e.filename, e.strerror))

#Loop through array of tickers to make queries to Yahoo Finance and save results as .csv
for ticker in tickers:
  try:
    link = f"https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={past}&period2={current}&interval=1d&events=history&includeAdjustedClose=true"
    time.sleep(0.2)
    data = pd.read_csv(link)
    #Calculate Difference between Close and Open and Moving Average for smoothing (Period: 5)
    data['OPENCLOSEDIFF'] = (data['Close'] - data['Open']).fillna(0)
    data['OPENCLOSEDIFF_EMA_5'] = ema(data['OPENCLOSEDIFF'],open_close_diff_period).fillna(0)

    #Calculate Exponential Moving Average Fibonacci Band and Calculate Average of all values combined - TREND IND.
    data['EMA13'] = ema(data['Close'],13).fillna(0)
    data['EMA21'] = ema(data['Close'],21).fillna(0)
    data['EMA34'] = ema(data['Close'],34).fillna(0)
    data['EMA55'] = ema(data['Close'],55).fillna(0)
    data['EMA89'] = ema(data['Close'],89).fillna(0)
    data['EMA144'] = ema(data['Close'],144).fillna(0)
    # data['EMA_AVG'] = (data['EMA13'] + data['EMA34'] + data['EMA55'] + data['EMA89'] + data['EMA144'])/5
    
    #Calculate Hull Moving Average Fibonacci Band and Calculate Average of all values combined - TREND IND.
    data['HMA13'] = hma(data['Close'],13).fillna(0)
    data['HMA21'] = hma(data['Close'],21).fillna(0)
    data['HMA34'] = hma(data['Close'],34).fillna(0)
    data['HMA55'] = hma(data['Close'],55).fillna(0)
    data['HMA89'] = hma(data['Close'],89).fillna(0)
    data['HMA144'] = hma(data['Close'],144).fillna(0)
    # data['HMA_AVG'] = (data['HMA13'] + data['HMA34'] + data['HMA55'] + data['HMA89'] + data['HMA144'])/5

    #Calculate MACD, MACD Signal Line and MACD Histogram - TREND IND.
    data['MACD'] = macd(data['Close'],26,12).fillna(0)
    data['MACD_Signal'] = macd_signal(data['Close'],26,12).fillna(0)
    data['MACD_HIST'] = macd_diff(data['Close'],26,12).fillna(0)

    #Calculate OBV
    data['OBV'] = obv(data['Close'], data['Volume']).fillna(0)
    data['OBV_EMA_13'] = ema(data['OBV'],13).fillna(0)
    data['OBV_EMA_34'] = ema(data['OBV'],34).fillna(0)
    data['OBV_EMA_55'] = ema(data['OBV'],55).fillna(0)

    #Calculate VWAP - VOLUME IND.
    data['VWAP'] = vwap(data['High'], data['Low'],data['Close'], data['Volume'],5).fillna(0)

    #Calculate RSI Fibonacci Band and Average of values combined - MOMENTUM IND.
    data['RSI8'] = rsi(data['Close'],8).fillna(0)
    data['RSI13'] = rsi(data['Close'],13).fillna(0)
    data['RSI21'] = rsi(data['Close'],21).fillna(0)
    # data['RSI_AVG'] = (data['RSI13'] + data['RSI13'] + data['RSI21']) / 3.fillna(0)

    #Write File to tikcers directory
    data.to_csv(f"./tickers/{ticker}.csv")
    print(f"{ticker} Downloaded ✓")
  except HTTPError as err:
    print(f"{ticker} Not Found X")
print("Download Complete")

#Implementing Multiple Linear Regression on Data Collected to Predict Future Price Changes

##Import Libraries

In [ ]:
from sklearn.model_selection import train_test_split

In [8]:
df1 = pd.read_csv('./tickers/AA.csv')
#Choose Features to evaluate in Model, this case only picked numerical features
numeric_features_test = ['Open', 'High', 'Low', 'Close', 'Volume', 'EMA13', 'EMA21', 'EMA34', 'EMA55', 'EMA89', 'HMA13', 'HMA21', 'HMA34', 'HMA55', 'HMA89', 'HMA144', 'MACD', 'MACD_SIGNAL', 'MACD_HIST', 'OBV', 'OBV_EMA_13', 'OBV_EMA_34', 'OBV_EMA_55','VWAP', 'RSI8', 'RSI13', 'RSI21']

x_train, x_test, y_train, y_test = train_test_split()

     Unnamed: 0        Date       Open  ...      RSI13      RSI21    RSI_AVG
0             0  2019-01-02  25.955000  ...        NaN        NaN        NaN
1             1  2019-01-03  26.120001  ...        NaN        NaN        NaN
2             2  2019-01-04  26.840000  ...        NaN        NaN        NaN
3             3  2019-01-07  28.530001  ...        NaN        NaN        NaN
4             4  2019-01-08  28.730000  ...        NaN        NaN        NaN
..          ...         ...        ...  ...        ...        ...        ...
783         783  2022-02-09  69.519997  ...  73.842817  68.850674  72.178769
784         784  2022-02-10  70.940002  ...  71.496529  67.390267  70.127775
785         785  2022-02-11  68.959999  ...  74.305269  69.544317  72.718285
786         786  2022-02-14  74.540001  ...  74.696092  69.846901  73.079695
787         787  2022-02-15  72.449997  ...  74.914920  70.012515  73.280785

[788 rows x 35 columns]

Warning: Total number of columns (35) exceeds max_columns (20) limiting to first (20) columns.

#Test Block

In [ ]:
import plotly.express as px
import pandas as pd

In [ ]:
from numpy.lib import type_check
df = pd.read_csv('./tickers/AA.csv')
print(slope_calc(df.iloc[:,0],df['EMA13']))
# df['EMA13_SLOPE'] = slope_calc(df.iloc[:,0],df['EMA13'])
print(df['EMA13_SLOPE'])
# df.rename_axis('index1').reset_index()
# fig1 = px.line(df, x="Date", y="HMA_AVG", title="HMA_AVG")
# fig1.add_ohlc(open=df['Open'], high=df['High'], low=df['Low'], close=df['Close'], x=df["Date"],name="OHLC")
# fig1.update_layout()

#fig1.show()

# fig2 = px.line(df, x="Date", y="OPENCLOSEDIFF_EMA_5", title="OPENCLOSEDIFF MOVING AVERAGE - 5 DAYS PERIOD")
# fig2.add_hline(y=0, line_width=3, line_dash="dash", line_color="green")

#fig2.show()

nan
0      0.037405
1      0.037405
2      0.037405
3      0.037405
4      0.037405
         ...
782    0.037405
783    0.037405
784    0.037405
785    0.037405
786    0.037405
Name: EMA13_SLOPE, Length: 787, dtype: float64